@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    background-color: darkgray;
    min-height: 100%;
}
header{
    background: black;
    color: #fff;
    text-align: center;
}
header>h1{
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}
header>p{
    padding-bottom: 50px;
}
a{
    color:#fff;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2rem;
    padding-left: 30px;
    font-size: 2.7vw;
}
section>p{
    padding-bottom: 2em;
}
section.imagem>p{
    background-color: rgba(0, 0, 0, 0.185);
    display: inline-block;
    padding: 10px;
}

section.normal{
    background-color: #fff;
    color: black;
}
section.imagem{
   background-color: rgb(116, 114, 114);
   color: #fff;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.377);
   background-size: cover;
   background-attachment: fixed;
}
section#img01{
    background-image: url('../img/fashion.jpg');
    background-position: center center;
}
section#img02{
    background-image: url('../img/woman.jpg');
    
}
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px;
    
}